// Enable .classes
$enable-classes: true;
$enable-semantic-container: true;

// Import Pico
@import "@picocss/pico/scss/pico";

a:hover {
  text-decoration: none;

  @media (hover: hover) {
    & {
      text-decoration: underline;
    }
  }
}
