---
import MovieCard from "@/components/MovieCard.astro";
import awards from "@/data/awards.json";
import movies from "@/data/movies.json";
import Layout from "@/layouts/Layout.astro";

export async function getStaticPaths() {
  return Object.keys(awards).map((award) => {
    return { params: {awardID: award}}
  })
}

const { awardID } = Astro.params;

const indicatedMovies = Object.values(movies).map((movie) => movie
).filter((movie) => {
  return movie.awards.filter(award => award.id == awardID).length > 0
})
---

<Layout title={awardID}>
  <div>
  {indicatedMovies.map(movie => {
    return <MovieCard imdbID={movie.imdbID} />})}
  </div>
</Layout>

<style>

</style>