---
import awards from "@/data/awards.json";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Categorias Oscar 2022">
  <ul>
  {awards.map(award => {
    return <li><a href={`/award/${award.id}`}> {award.name}</a></li>})}
  </ul>
</Layout>