---
import Layout from "../layouts/Layout.astro";
import YearCard from "@/components/YearCard.astro";
---

<Layout title="Início">
  <h1>Sequela Movie App</h1>
  <div class="card-grid">
    {["2021", "2022"].map((year) => <YearCard awardYear={year} />)}
  </div>
</Layout>

<style lang="scss">
  .card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: var(--block-spacing-horizontal);
  }
</style>
