---
import { getAwardName } from "@/utils/getData";

export interface Props {
  awardList: {
    shortName: string;
    nominee?: string;
    winner: boolean;
  }[];
  oscarYear: string;
}

const { awardList, oscarYear } = Astro.props;
---

<ul class="indications__list">
  {
    awardList.map((award) => {
      return (
        <li class={award.winner && "winner"}>
          <a href={`/${oscarYear}/${award.shortName}`}>
            {award.winner && "🏆"}
            {getAwardName(award.shortName) +
              (award.nominee && ": " + award.nominee)}
          </a>
        </li>
      );
    })
  }
</ul>

<style lang="scss">
  .indications__list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    font-size: 0.8rem;
    gap: 0.2rem 0.4rem;

    & > li {
      list-style-type: none;
      border: 1px solid #1095c1;
      border-radius: 0.2rem;
      padding: 0.2rem 0.4rem;
    }
  }

  .winner {
    background-color: #1095c1;

    & > a {
      color: white;
    }
  }
</style>
