---
export interface Props {
  id: string;
  type?: string;
}

const { id, type = "title" } = Astro.props;

let baseURL: string;

if (type == "title") {
  baseURL = "https://www.imdb.com/title/";
} else if (type == "name") {
  baseURL = "https://www.imdb.com/name/";
}
---

<a href={baseURL + id} target="_blank"><slot /></a>
