---
import Layout from "@/layouts/Layout.astro";
import { getMovieList, getMovie } from "@/utils/getData";

export async function getStaticPaths() {
  const movieList = getMovieList();
  return movieList.map((movie) => {
    return { params: { imdbID: movie.imdbID } };
  });
}

const { imdbID } = Astro.params;
const movie = getMovie(imdbID);
---

<Layout title={movie.title}>
  <div>{movie.title}</div>
  <img src={movie.poster} />
  <p>{movie.plot}</p>
</Layout>
