---
import Layout from "@/layouts/Layout.astro";
import { getMovieList, getMovieBySlug } from "@/utils/getData";

export async function getStaticPaths() {
  const movieList = getMovieList();
  return movieList.map((movie) => {
    return { params: { slug: movie } };
  });
}

const { slug } = Astro.params;
const movie = getMovieBySlug(slug);
---

<Layout title={movie.title}>
  <div>{movie.title}</div>
  <img src={movie.poster} />
  <p>{movie.plot}</p>
</Layout>
