---
import Layout from "@/layouts/Layout.astro";
import { getMovieList } from "@/utils/getData";

const movieList = getMovieList();
---

<!-- {allMovies} -->{
  movieList.map((movie) => {
    return <div>{movie.title}</div>;
  })
}
