---
import BaseLayout from "./BaseLayout.astro";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<BaseLayout title={`Nomeações Oscar | ${title}`}>
  <main>
    <slot />
  </main>
</BaseLayout>

<style>
  .navbar {
    align-items: center;
    padding-block: var(--spacing);
    padding-inline: var(--block-spacing-horizontal);
  }

  .brand {
    font-size: 1.4rem;
    padding: ;
  }
</style>
